# 数据和日志
/data/
/log/

# IDE / 编辑器
/.vscode/
**/.vs/
**/.idea/

# .NET 构建输出
**/bin/
**/obj/
*.DotSettings.user

# Python 虚拟环境和缓存
/.venv/
**/__pycache__/

# 打包 / 安装输出
/setup/output/
/setup/SRA/
/setup/install_info.txt
/main.dist/
SRAFrontend/SRAFrontend.Server/wwwroot/*
!SRAFrontend/SRAFrontend.Server/wwwroot/.gitkeep
*.zip

# 构建产物
*.dll
*.pyd
*.pdb
*.exe

# 其他
version_info.txt
