/data/
/log/
/SRAFrontend/bin/
/SRAFrontend/obj/
/SRAFrontend/SRAFrontend.sln.DotSettings.user
/.venv/
/.vscode/
/setup/output/
/setup/SRA/
/setup/install_info.txt
/main.dist/
**/__pycache__/
**/.vs/
version_info.txt