/data/
/log/
/SRAFrontend/bin/
/SRAFrontend/obj/
/SRAFrontend/SRAFrontend.sln.DotSettings.user
/.venv/
/.vscode/
/setup/output/
/setup/SRA/
/setup/install_info.txt
**/__pycache__/
**/.vs/
SRACore/util/config.py
SRACore/util/const.py
SRACore/util/logger.py