plyer==2.1.0
rapidocr-onnxruntime==1.4.4
opencv-python==4.12.0.88
pillow==12.0.0
pyscreeze==1.0.1
pygetwindow==0.0.9
pyautogui==0.9.54
keyboard==0.13.5
pywin32
psutil==7.1.3
rich==14.2.0
loguru==0.7.3
schedule
nuitka