plyer==2.1.0
rapidocr-onnxruntime==1.4.4
opencv-python==4.13.0.92
pillow==12.2.0
pyscreeze==1.0.1
pygetwindow==0.0.9
pyautogui==0.9.54
pynput==1.8.1
pywin32
psutil==7.2.2
rich==15.0.0
loguru==0.7.3
selenium